html {
  scroll-behavior: smooth;
}

h1,
.custom {
  font-family: "Caveat Brush", sans-serif;
  font-size: 3rem;
}
.section {
  padding: 35px 0;
  background: #ececec;
}

.carousel {
  border-radius: 45px;
  overflow: hidden;
}

.n-logo {
  max-width: 30px;
  height: auto;
}

.page-header-image {
  background: url("img/patrick-fore-unsplash.jpg") no-repeat center center;
  background-size: cover;
}

.rounded-circle {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.description {
  color: #2c2c2c;
  font-weight: 400;
}
.section-contact-us {
  color: #fff;
}
.form-control {
  background-color: white;
}

/* Media Queries */
@media screen and (max-width: 991px) {
  .sidebar-collapse .navbar-collapse:before {
    /*background:#f96332;*/
    background: #ad4fff;
    background: linear-gradient(#ad4fff, #000 80%);
  }
}

/* Custom Color */
.clear-filter[filter-color="custom"] {
  background: rgba(44, 44, 44, 0.4);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    90deg,
    rgba(44, 44, 44, 0.2),
    rgba(104, 16, 181, 0.6)
  );
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    90deg,
    rgba(44, 44, 44, 0.2),
    rgba(104, 16, 181, 0.6)
  );
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    90deg,
    rgba(44, 44, 44, 0.2),
    rgba(104, 16, 181, 0.6)
  );
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    0deg,
    rgba(44, 44, 44, 0.2),
    rgba(104, 16, 181, 0.6)
  );
  /* Standard syntax */
}

.slider.slider-custom .noUi-connect,
.slider.slider-custom.noUi-connect {
  background-color: #ad4fff;
}
.slider.slider-custom.noUi-target {
  background-color: rgba(44, 168, 255, 0.3);
}

.slider.slider-custom .noUi-handle {
  background-color: #ad4fff;
}

.btn-custom {
  background-color: #ad4fff;
  color: #ffffff;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:not(:disabled):not(.disabled):active,
.btn-custom:not(:disabled):not(.disabled).active,
.btn-custom:not(:disabled):not(.disabled):active:focus,
.btn-custom:not(:disabled):not(.disabled).active:focus,
.btn-custom:active:hover,
.btn-custom.active:hover,
.show > .btn-custom.dropdown-toggle,
.show > .btn-custom.dropdown-toggle:focus,
.show > .btn-custom.dropdown-toggle:hover {
  background-color: #6810b5;
  color: #ffffff;
  box-shadow: none;
}

.btn-custom:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}

.btn-custom.disabled,
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled.focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom:disabled,
.btn-custom:disabled:hover,
.btn-custom:disabled:focus,
.btn-custom:disabled.focus,
.btn-custom:disabled:active,
.btn-custom:disabled.active,
.btn-custom[disabled],
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled].focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom.focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #ad4fff;
  border-color: #ad4fff;
}

.btn-custom.btn-simple {
  color: #ad4fff;
  border-color: #ad4fff;
}

.btn-custom.btn-simple:hover,
.btn-custom.btn-simple:focus,
.btn-custom.btn-simple:not(:disabled):not(.disabled):active,
.btn-custom.btn-simple:not(:disabled):not(.disabled).active,
.btn-custom.btn-simple:not(:disabled):not(.disabled):active:focus,
.btn-custom.btn-simple:not(:disabled):not(.disabled).active:focus,
.btn-custom.btn-simple:active:hover,
.btn-custom.btn-simple.active:hover,
.show > .btn-custom.btn-simple.dropdown-toggle,
.show > .btn-custom.btn-simple.dropdown-toggle:focus,
.show > .btn-custom.btn-simple.dropdown-toggle:hover {
  background-color: transparent;
  color: #6810b5;
  border-color: #6810b5;
  box-shadow: none;
}

.btn-custom.btn-link {
  color: #ad4fff;
}

.btn-custom.btn-link:hover,
.btn-custom.btn-link:focus,
.btn-custom.btn-link:not(:disabled):not(.disabled):active,
.btn-custom.btn-link:not(:disabled):not(.disabled).active,
.btn-custom.btn-link:not(:disabled):not(.disabled):active:focus,
.btn-custom.btn-link:not(:disabled):not(.disabled).active:focus,
.btn-custom.btn-link:active:hover,
.btn-custom.btn-link.active:hover,
.show > .btn-custom.btn-link.dropdown-toggle,
.show > .btn-custom.btn-link.dropdown-toggle:focus,
.show > .btn-custom.btn-link.dropdown-toggle:hover {
  background-color: transparent;
  color: #6810b5;
  text-decoration: none;
  box-shadow: none;
}

.btn-neutral.btn-custom {
  color: #ad4fff;
}

.btn-neutral.btn-custom:hover,
.btn-neutral.btn-custom:focus,
.btn-neutral.btn-custom:active {
  color: #6810b5 !important;
}

.btn-outline-custom {
  color: #ad4fff;
  border-color: #ad4fff;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom:not(:disabled):not(.disabled):active,
.btn-outline-custom:not(:disabled):not(.disabled).active,
.btn-outline-custom:not(:disabled):not(.disabled):active:focus,
.btn-outline-custom:not(:disabled):not(.disabled).active:focus,
.btn-outline-custom:active:hover,
.btn-outline-custom.active:hover,
.show > .btn-outline-custom.dropdown-toggle,
.show > .btn-outline-custom.dropdown-toggle:focus,
.show > .btn-outline-custom.dropdown-toggle:hover {
  background-color: transparent;
  color: #6810b5;
  border-color: #6810b5;
  box-shadow: none;
}

.progress-container.progress-custom .progress {
  background: rgba(44, 168, 255, 0.3);
}

.progress-container.progress-custom .progress-bar {
  background: #ad4fff;
}

.progress-container.progress-custom .progress-value,
.progress-container.progress-custom .progress-badge {
  color: #ad4fff;
}

.badge-custom,
.badge-custom[href]:focus,
.badge-custom[href]:hover {
  border-color: #ad4fff;
  background-color: #ad4fff;
  color: #ffffff;
}

.pagination.pagination-custom .page-item.active > .page-link,
.pagination.pagination-custom .page-item.active > .page-link:focus,
.pagination.pagination-custom .page-item.active > .page-link:hover {
  background-color: #ad4fff;
  border-color: #ad4fff;
}

.text-custom {
  color: #ad4fff !important;
}

.nav-pills.nav-pills-custom .nav-item .nav-link.active,
.nav-pills.nav-pills-custom .nav-item .nav-link.active:focus,
.nav-pills.nav-pills-custom .nav-item .nav-link.active:hover {
  background-color: #ad4fff;
}

.nav-tabs.nav-tabs-custom > .nav-item > .nav-link.active {
  background-color: #ad4fff;
}

.bg-custom {
  /*background-color: #9826fc !important;
  background:linear-gradient(#9826fc,#1D0533 45%);*/
  background: linear-gradient(60deg, #1d0533, #9826fc);
}

.dropdown-menu.dropdown-custom {
  background-color: #1da2ff;
}

.dropdown-menu.dropdown-custom:before {
  color: #1da2ff;
}

.dropdown-menu.dropdown-custom .dropdown-header:not([href]):not([tabindex]) {
  color: rgba(255, 255, 255, 0.8);
}

.dropdown-menu.dropdown-custom .dropdown-item {
  color: #ffffff;
}

.dropdown-menu.dropdown-custom .dropdown-item:hover,
.dropdown-menu.dropdown-custom .dropdown-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-menu.dropdown-custom .dropdown-divider {
  background-color: rgba(255, 255, 255, 0.2);
}
.alert.alert-custom {
  background-color: rgba(44, 168, 255, 0.8);
}

.popover.popover-custom {
  background-color: #ad4fff;
}

.popover.popover-custom .popover-body {
  color: #ffffff;
}

.popover.popover-custom.bs-popover-right .arrow:after {
  border-right-color: #ad4fff;
}

.popover.popover-custom.bs-popover-top .arrow:after {
  border-top-color: #ad4fff;
}

.popover.popover-custom.bs-popover-bottom .arrow:after {
  border-bottom-color: #ad4fff;
}

.popover.popover-custom.bs-popover-left .arrow:after {
  border-left-color: #ad4fff;
}

.popover.popover-custom .popover-header {
  color: #ffffff;
  opacity: 0.6;
}
.modal.modal-mini .modal-profile.modal-profile-custom {
  background-color: #ad4fff;
}

.modal.modal-custom .modal-content {
  background-color: #ad4fff;
  color: #ffffff;
}

.modal.modal-custom .modal-header .close {
  color: #ffffff;
}

.slider.slider-custom .noUi-connect,
.slider.slider-custom.noUi-connect {
  background-color: #ad4fff;
}

.slider.slider-custom.noUi-target {
  background-color: rgba(44, 168, 255, 0.3);
}

.slider.slider-custom .noUi-handle {
  background-color: #ad4fff;
}
